.header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
  }
  
  .header-overlay {
    background-color: rgba(0, 0, 0, 0.6); /* semi-transparent overlay */
    padding: 1rem 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .profile-pic {
    width: 20%;
    height: 50%;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 2px solid white;
  }
  
  .header h1 {
    margin: 0;
    font-size: 1.8rem;
  }
  
  .header p {
    margin: 8px 0 0;
    font-size: 1rem;
  }
  