.App {
  font-family: 'Segoe UI', sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  color: #333;
}
h1 {
  color: #005b96;
}
a {
  color: #007acc;
  text-decoration: none;
}
section {
  margin-bottom: 2rem;
}